body {
  margin: 0;
}

html {
  font-family: $font-main;
  line-height: $line-height-main;
  font-size: $font-size-main;
}

p {
  margin: 0;
}

.card {
  width: $card-width;
  box-sizing: border-box;
  border: 1px;
  border-radius: 5px;
  background-color: $color-white;

  &__picture {
    background-image: url('../images/imac.jpeg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 134px;
    margin-top: 32px;
  }

  &__name {
    margin: 40px auto 0;
    font-weight: 500;
    text-align: center;
  }

  &__code {
    margin-left: 16px;
    color: $color-text-second;
    margin-top: 4px;
  }

  &__rating {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 4px 16px 0;
  }

  &__reviews {
    font-weight: 400;
    line-height: 14px;
    font-size: 10px;
    color: $color-text-first;
  }

  &__price {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 24px 16px 0;
  }

  &__price-label {
    color: $color-text-second;
    font-weight: 400;
    margin: 0;
  }

  &__price-value {
    font-weight: 700;
    font-size: 16px;
    color: $color-text-first;
    margin: 0;
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 166px;
    height: 40px;
    background-color: $color-primary;
    border-radius: 5px;
    margin: 16px auto;

    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 700;
    color: $color-white;
    line-height: 16px;
    font-size: 14px;

    &:hover {
      background-color: $color-white;
      color: $color-primary;
      border: 1px solid $color-primary;
    }
  }
}
